.clear{
    clear: both;
  }
  .col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
  }
  .col-1{
    width: 100%;
  }
  .col-2{
    width: 50%;
  }
  
  #content .section-heading{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
  }
  
  #content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: .6;
    letter-spacing: 2px;
  }

  .grid {
    width: 100%;
    display: block;
    padding: 0;
  }
#content .contact-content{
    display: flex;
    margin-top: 48px;
  }
  
  .contact-info{
    font-size: 18px;
    line-height: 1.5;
  }
  
  .contact-info i{
    width: 30px;
    display: inline-block;
  }
  
  .contact-form{
    font-size: 15px;
  
  }
  .contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }
  .contact-form .contact-submit{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
  }
  
  .contact-form .contact-submit:hover{
    color: #333;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  

  .map-img{
    max-width: 1800px;
    width: 100%;
  }





/* Tablet */
@media (min-width:740px) and (max-width:1023px){
  .map-section{
    width: 100%;
  }
  .map-img{
    padding-right: -8px;
  }
}

/* mobile */
@media (max-width:740px) {
  .map-section{
    width: 100%;
  }
  .map-img{
    padding-right: -8px;
  }
  .contact-content{
    padding: 20px 20px;
  }

}


@media  (max-width: 570px) {
  
  .s-col-1{
    width: 100%;
  }
  #content .contact-content{
    display: block;
    padding: 20px 20px
  }
  .contact-form{
    padding-top: 20px;
  }
  #content .content-section{
    padding: 100px 0 112px !important;
  }
}

@media  (max-width: 320px){
  .s-col-1{
    width: 100%;
  }

}