.grid {
    width: 100%;
    display: block;
    padding: 0;
}
/* PC */
@media (min-width:1024px){
    #header .mobile-menu-btn{
        display: none;
    }
}
/* Tablet */
@media (min-width:740px) and (max-width:1023px){
    #header .mobile-menu-btn{
        display: none;
    }
}

/* mobile */
@media (max-width:740px){
    #nav > li{
        display: block;
    }
    #header .search-btn{
        display: none;
    }

}

@media  (max-width: 750px) and (min-width: 570px) {
    #content .members-ava{
        width: 240px;
        height: 240px;
        margin-top: 15px;
        border-radius: 4px;
    }

    #content .album-img{
        height: 250px;
    }
  
    #content .influence-list{
        display: grid;
    }

    #content .influence-item{
        width: 50%;
        margin: auto;
        padding-bottom: 40px;
    }
    
}

@media  (max-width: 570px) {
    #content .members-ava{
        width: 190px;
        height: 190px;
        margin-top: 15px;
        border-radius: 4px;
    }
    #content .album-item{
        width: 82%;
    } 

    #content .influence-list{
        display: grid;
    }
    
    #content .influence-item{
        width: 75%;
        margin: auto;
        padding-bottom: 40px;
    }
}

@media  (max-width: 320px){
    #content .members-ava{
        width: 120px;
        height: 150px;
        margin-top: 15px;
        border-radius: 4px;
    }
    #content .album-item{
        width: 70%;
    }

    #content .album-img{
        height: 220px;
    }
    #content .album-content{
        font-size: 12px;
    }

    #content .influence-list{
        display: grid;
    }
    
    #content .influence-item{
        width: 82%;
        margin: auto;
        padding-bottom: 40px;
    }
}