/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. tổng quan đến chi tiết */
/* vị trí
kích thước
màu sắc
kiểu dáng */

/* common */
.flex {
	display: flex;
	margin: 10px 5px 32px -13px;
}
.flex .middle {
	align-items: center;
}
.flex .flex--1 {
	flex: 1;
}

/* Global Layout */
.wrapper {
	width: 100%;
	margin: auto;
}
.clear{
    clear: both;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-1{
    width: 100%;
}
.col-2{
    width: 50%;
}

.col-3{
    width: 33.333%;
}

.text-center{
    text-align: center !important; 
}



/*  */
#main{

}
#header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
    overflow: hidden;
}

#nav{

    display: inline-block;
}

#nav , .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
} 

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}
#nav .subnav{
    display: none;
    min-width: 160px;
    top:100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: #333;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}

/* nav mobile */
/* 
.nav__bars-button{
    width: 28px;
    height: 28px;
    color: #fff;
    margin-left: 8px;
    display: none;
    margin-top: 7px;
}
.nav__overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}
.nav__input{
    display: none;
}
.nav__input:checked ~ .nav__overlay{
    display: block;
}

.nav__moblie{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    padding: 40px 40px;
    transform: translateX(-100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
}
.nav__input:checked ~ .nav__moblie{
    transform: translateX(0%);
    opacity: 1;
}
.nav__mobile-list{
    margin-top: 24px;
    list-style-type: none;
}   
.nav__mobile-link{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}
.nav__mobile-close{
    width: 18px;
    height: 18px;
    position: absolute;
    color: #666;
    top: 1rem;
    right: 1rem;
}
@media (max-width:1023px){
    .nav__bars-button{
        display: block;
    }
    #nav, .search-btn{
        display: none;
    }
} */
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}


#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
    
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('./public/img/slider/slider1.png') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .text-heading{
    font-weight: 600;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 15px;
}


#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: .6;
    letter-spacing: 2px;
}

#content .about-text{
    font-size: 15px;
    text-align: justify;
    margin-top: 25px;
    line-height: 1.7;
}

#content .members-list{
    margin-top: 30px;
    overflow: hidden;
}

#content .members-name{
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 2px;
    font-weight: 600;
}
#content .members-ava{
    width: 260px;
    height: 260px;
    margin-top: 15px;
    border-radius: 4px;
}

#content .members-ava:hover{
    opacity: .8;
}

#content .background-content{
    background: url('./public/img/content/rose-blackpink-first-single-album-r-.jpg') top center / cover no-repeat;
    position: inherit;
}

#content .album-list{
    margin-top: 32px;
}

#content .album-item{
    float: left;
    width: 42%;
    margin-left: 39px;
}

#content .album-img{
    display: block;
    width: 100%;
    height: 300px;
    padding: 0 8px;
}

#content .album-img:hover{
    opacity: 0.7;
}

#content .album-content{
    font-size: 15px;
    padding: 16px;
    margin: 0 8px;
    color: rgb(14, 13, 13);
    text-align: center;
}

#content .album-heading{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#content .album-icon{
    margin-top: 15px;
    opacity: .8;
}

#content .album-desc{
    margin-top: 15px;
}

#content .album-redirect{
    color: #000;
    background-color: rgb(176 162 137);
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 18px;
}

#content .album-redirect:hover{
    color: #333;
    /* background-color: #ccc;
     */
     opacity: 0.9;
}

#content .influence-list{
    margin: 32px -8px 48px;
}

#content .influence-item{
    float: left;
    width: 33.333%;
}

#content .influence-img{
    display: block;
    width: 100%;
    padding: 0 8px;
}

#content .influence-img:hover{
    opacity: 0.7;
}

#content .influence-content{
    font-size: 15px;
    padding: 16px;
    margin: 0 8px;
    background-color: rgb(126, 124, 121);
    color: #fff;
}

#content .influence-heading{
    font-weight: 600;
}

#content .influence-icon{
    margin-top: 15px;
    opacity: .8;
}

#content .influence-desc{
    margin-top: 15px;
}

#content .influence-redirect{
    color: #fff;
    background-color: rgb(44, 44, 44);
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 18px;
}

#content .influence-redirect:hover{
    color: #333;
    background-color: #ccc;
}
/* contact form */

#content .contact-content{
    display: flex;
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;

}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .contact-submit{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
}

.contact-form .contact-submit:hover{
    color: #333;
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

.map-section{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
    border: 1px solid #ccc;
}
.footer-icon{
    padding: 16px 0px;
}
.footer-icon:hover{
    cursor: pointer;
}
.copyright{
    font-size: 15px;
    color: rgb(184, 179, 179);
}

/* reponsive */


