/* reset css */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. tổng quan đến chi tiết */
/* vị trí
kích thước
màu sắc
kiểu dáng */

/* common */
.flex {
display: flex;
margin: 10px 5px 32px -13px;
}
.flex .middle {
align-items: center;
}
.flex .flex--1 {
flex: 1;
}

/* Global Layout */
.wrapper {
width: 100%;
margin: auto;
}
.clear{
  clear: both;
}

.row{
  margin-left: -8px;
  margin-right: -8px;
}
.row::after{
  content: "";
  display: block;
  clear: both;
}

.mt-8{
  margin-top: 8px !important;
}

.mt-16{
  margin-top: 16px !important;
}
.col{
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.col-1{
  width: 100%;
}
.col-2{
  width: 50%;
}

.col-3{
  width: 33.333%;
}

.text-center{
  text-align: center !important; 
}

.body{
  overflow-x:hidden;
}



/*  */

#header{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: black;
  z-index: 1;
  padding-right: -8px;
}

#nav{

  display: inline-block;
}

#nav , .subnav{
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
} 

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
  
}

#nav li:hover .subnav{
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: black;
  background-color: #ccc;
}
#nav .subnav{
  display: none;
  min-width: 160px;
  top:100%;
  left: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
  color: #333;
  padding: 0 12px;
  line-height: 38px;
}
#nav .nav-arrow-down {
  font-size: 14px;
}

/* nav mobile */

.nav__bars-button{
  width: 28px;
  height: 28px;
  color: #fff;
  margin-left: 8px;
  display: none;
  margin-top: 7px;
}
.nav__overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.2s;
}
.nav__input{
  display: none;
}
.nav__input:checked ~ .nav__overlay{
  display: block;
}

.nav__moblie{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  padding: 40px 40px;
  transform: translateX(-100%);
  transition: transform linear 0.2s, opacity linear 0.2s;
}
.nav__input:checked ~ .nav__moblie{
  transform: translateX(0%);
  opacity: 1;
}
.nav__mobile-list{
  margin-top: 50px;
  list-style-type: none;
  text-align: center;
  margin-bottom: 20px;
}   
.nav__mobile-link{
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.nav__mobile-link:hover {
  color: pink;
}
.nav__mobile-close{
  width: 18px;
  height: 18px;
  position: absolute;
  color: #666;
  top: 1rem;
  right: 1rem;
}
@media (max-width:1023px){
  .nav__bars-button{
      display: block;
  }
  #nav, .search-btn{
      display: none;
  }
}
#header .mobile-menu-btn,
#header .search-btn{
  float: right;
  padding: 0 21px;
}

#header .btn-audio{
  color: #fff;
  font-size: 17px;
  line-height: 42px;
  background-color: #000;
  border: none;
  padding-top: 3px;
}

#header .btn-audio:hover{
  background-color: #ccc;
  cursor: pointer;
  color: #000;
  padding-left: 10px;
  padding-right: 10px;
}


#header .mobile-menu-btn:hover{
  background-color: #ccc;
  
}

#header .mobile-menu-btn:hover .menu-icon{
  color: #000;
}

#header .menu-icon,
#header .search-icon{
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

/* #slider{
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('./public/img/slider/blackpink1.png') top center / cover no-repeat;
}
#slider .text-content{
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  color: rgb(253, 250, 250);
}

#slider .text-heading{
  font-weight: 600;
  font-size: 24px;
}

#slider .text-description{
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: 2px;
} */


#content .content-section{
  width: 800px;
  max-width: 100%;
  padding: 100px 0 112px !important;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 16px;
  padding-right: 16px; */
}

#content .section-heading{
  font-size: 30px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#content .section-sub-heading{
  font-size: 18px;
  text-align: center;
  margin-top: 25px;
  font-style: italic;
  opacity: .6;
  letter-spacing: 2px;
}

#content .about-text{
  font-size: 15px;
  text-align: justify;
  margin-top: 25px;
  line-height: 1.7;
}
#content .branch-text{
  color: #718392;
}
#content .members-list{
  margin-top: 30px;
  overflow: hidden;
}

#content .members-name{
  font-size: 15px;
  margin-top: 10px;
  letter-spacing: 2px;
  font-weight: 600;
}
#content .members-ava{
  width: 260px;
  height: 260px;
  margin-top: 15px;
  border-radius: 4px;
}

#content .all-members-ava{
  width: 100%;
  height: 450px;
  margin-top: 15px;
  border-radius: 4px;
}

#content .all-members-ava:hover{
  opacity: .8;
}
#content .members-ava:hover{
  opacity: .8;
}
/* main */

#content .background-content{
  background: url('./public/img/slider/blackpink.jpg') top center / cover no-repeat;
  position: inherit;
  color: #ccc;
}

#content .background-fashion{
  background: url('./public/img/slider/globe.jpg') top center / cover no-repeat;
  position: inherit;
  color: #fff;
}

/* rosie */
#content .background-rosie{
  background: url('./public/img/content/rose-blackpink-first-single-album-r-.jpg') top center / cover no-repeat;
  position: inherit;
  color: #000;
}

#content .background-rosie-ysl{
  background: url('./public/img/content/r4.jpg') top center / cover no-repeat;
  position: inherit;
  color: #000;
}
/* lisa */
#content .background-lisa-celine{
  background: url('./public/img/content/l9.jpg') top center / cover no-repeat;
  position: inherit;
  color: #000;
}

/* jennie */
#content .background-jennie{
  background: url('./public/img/content/je2.png') top center / cover no-repeat;
  position: inherit;
  color: #000;
}

#content .background-jennie-chanel{
  background: url('./public/img/content/je132.jpg') top center / cover no-repeat;
  position: inherit;
  color: #000;
}

/* jisoo */
#content .background-jisoo-dior{
  background: url('./public/img/content/ji13.jpg') top center / cover no-repeat;
  position: inherit;
  color: #000;
}

#content .album-list{
  margin-top: 32px;
}

#content .album-item{
  padding-top: 20px;
  float: left;
  width: 42%;
  margin-left: 39px;
  cursor: pointer;
}

#content .album-img{
  display: block;
  width: 100%;
  height: 300px;
  padding: 0 8px;
}

#content .album-img:hover{
  opacity: 0.7;
}

#content .album-content{
  font-size: 15px;
  padding: 16px;
  margin: 0 8px;
  color: rgb(91 88 88);
  text-align: center;
}

#content .album-heading{
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#content .album-icon{
  margin-top: 15px;
  opacity: .8;
}

#content .album-desc{
  margin-top: 15px;
}

#content .album-redirect{
  color: #000;
  background-color: rgb(176 162 137);
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 18px;
}

#content .album-redirect:hover{
  color: #333;
  /* background-color: #ccc;
   */
   opacity: 0.9;
}

#content .influence-list{
  margin: 32px -8px 48px;
}

#content .influence-item{
  float: left;
  width: 33.333%;
}

#content .influence-img{
  display: block;
  width: 100%;
  padding: 0 8px;
  height: 350px;
}

#content .influence-img:hover{
  opacity: 0.7;
}

#content .influence-content{
  font-size: 15px;
  padding: 16px;
  margin: 0 8px;
  background-color: rgb(126, 124, 121);
  color: #fff;
}

#content .influence-heading{
  font-weight: 600;
}

#content .influence-icon{
  margin-top: 15px;
  opacity: .8;
}

#content .influence-desc{
  margin-top: 15px;
}

#content .influence-redirect{
  color: #fff;
  background-color: rgb(44, 44, 44);
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 18px;
}

#content .influence-redirect:hover{
  color: #333;
  background-color: #ccc;
}
/* contact form */


#footer{
  padding: 64px 16px;
  text-align: center;
  border: 1px solid #ccc;
}
.footer-icon{
  padding: 16px 0px;
}
.footer-icon:hover{
  cursor: pointer;
}
.copyright{
  font-size: 15px;
  color: rgb(184, 179, 179);
}

/* reponsive */


.grid {
  width: 100%;
  display: block;
  padding: 0;
}
/* PC */
@media (min-width:1024px){
  #header .mobile-menu-btn{
      display: none;
  }

  #slider img{
    padding-top: 40px;
  }

  #header .mobile-menu-btn{
    display: none;
  }
}
/* Tablet */
@media (min-width:740px) and (max-width:1023px){
  #header .mobile-menu-btn{
      display: none;
  }
  #content .about-text{
    padding-left: 16px;
    padding-right: 16px;
  }
  #slider img{
    padding-top: 40px;
  }

  #slider .slide{
    height: 40vh;
  }
  #header .mobile-menu-btn{
    display: none;
  }
}

/* mobile */
@media (max-width:740px){
  #nav > li{
      display: block;
  }
  #header .search-btn{
      display: none;
  }
  #content .about-text{
    padding-left: 16px;
    padding-right: 16px;
  } 
  #header .mobile-menu-btn{
    display: none;
  }

}

@media  (max-width: 750px) and (min-width: 570px) {
  #content .members-ava{
      width: 240px;
      height: 240px;
      margin-top: 15px;
      border-radius: 4px;
  }

  #content .album-img{
      height: 250px;
  }

  #content .influence-list{
      display: grid;
  }

  #content .influence-item{
      width: 50%;
      margin: auto;
      padding-bottom: 40px;
  }
  #header .mobile-menu-btn{
    display: none;
  }

  #slider .slide img {
    height: 40vh !important;
  }
  

  
  
}

@media  (max-width: 570px) {
  #content .members-ava{
      width: 190px;
      height: 190px;
      margin-top: 15px;
      border-radius: 4px;
  }
  #content .album-item{
      width: 82%;
  } 

  #content .influence-list{
      display: grid;
  }
  
  #content .influence-item{
      width: 75%;
      margin: auto;
      padding-bottom: 40px;
  }

  #slider img{
    padding-top: 40px;
  }

  #slider .slide{
    height: 40vh;
  }

  #slider .slide img {
    height: 40vh !important;
  }
  
  #slider #goLeft{
    height: 100px;
  }

  #slider #goLeft{
    height: 100px;
  }
  #header .mobile-menu-btn{
    display: none;
  }

  #content .all-members-ava:nth-child(1) {
    height: 270px;
    padding: 0 3px;
  }

  #content .all-members-ava:nth-child(3) {
    padding: 0 3px;
  }


}

@media  (max-width: 320px){

  #content .members-ava{
      width: 120px;
      height: 150px;
      margin-top: 15px;
      border-radius: 4px;
  }
  #content .album-item{
      width: 70%;
  }

  #content .album-img{
      height: 220px;
  }
  #content .album-content{
      font-size: 12px;
  }

  #content .influence-list{
      display: grid;
  }
  
  #content .influence-item{
      width: 82%;
      margin: auto;
      padding-bottom: 40px;
  }
  .grid{
    padding-right: -8px;
  }

  #slider .slide{
    height: 20vh;
  }
  
  #slider #goLeft{
    height: 100px;
  }

  #slider #goLeft{
    height: 100px;
  }
  
  #header .mobile-menu-btn{
    display: none;
  }

  
}