*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-family: Arial, Helvetica, sans-serif;
}

:root{
	--white-light: rgba(255,255,255,0.5);
	--alice-blue:#f8f9fa;
	--carribean-green: #48c9a2;
	--gray: #ededed;


}
.search{
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
}
.search-field{
	height: 50px;
	width: 300px;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid #ccc;
	outline: none;
}

.search-item{
	height: 50px;
	width: 150px;
	background: #363434;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-weight: 500;
	font-size: 15px;
}

.search-item:hover{
	background: #6d6b6b;
	cursor: pointer;
}

.img-album{
	width: 100%;
	display: block;
}

.container{
	width: 100%;
	min-height: 650px;
  padding: 20px 0 100px;

}

.product-banner{
  width: 100%;
  padding: 40px 82px;
}

/* .brandLeft{
	float: left;
	width: 30%;
	background: #000;
} */
/* .product-items{
	float: right;
	width: 75%;
} */



.lg-title,
.md-title,
.sm-title{
	font-family: 'Roboto', sans-serif;
	padding: 0.6rem 0;
	text-transform: capitalize;
}

.lg-title{
	font-size: 2.5rem;
	font-weight: 500;
	text-align: center;
	padding: 1.3rem 0;
	opacity: 0.9;
}

.md-title{
	font-size: 2rem;

}
.sm-title{
	font-weight: 300;
	font-size: 1rem;
	text-transform: uppercase;
}

.text-light{
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	opacity: 0.5;
	margin: 0.4rem 0;
}
/* brandLeft */
.category{
	margin: 0;
}

.menuCategory{
	border: 0;
    line-height: 0;
}

.brandLeft .menuCategory li{
	display: block;
}
/* product section */

.products{
	display: block;
	width: 1400px;
	padding: 3.2rem 0;
	margin: 0 auto;
}

.products .text-light{
	text-align: center;
	width: 70%;
	margin: 0.9rem auto;
}

.product{
	margin: 2rem;
	position: relative;
}

.product-content{
	background: var(--gray);
	padding: 3rem 0.5rem 2rem 0.5rem;
	cursor: pointer;
}

.product-img{
	background: var(--white-light);
	box-shadow: 0 0 20px 10px var(--white-light);
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	transition: background 0.5s ease;
}

.product-btns{
	display: flex;
	justify-content: center;
	margin-top: 1.4rem;
	opacity: 1;
	transition: opacity 0.6s ease;
}

.btn-cart, .btn-buy{
	background: transparent;
	border: 1px solid #000;
	padding: 0.8rem 0;
	width: 125px;
	font-family: inherit;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	transition: all 0.6s ease;
}

.btn-cart{
	background: #363434;
	color: #fff;
}

.btn-cart:hover{
	background: #6d6b6b;
}

.btn-buy{
	background: #fff;
}

.btn-buy:hover{
	background: #6d6b6b;
	color: #fff;
}

.product-info{
	background: #fff;
	padding: 2rem;
}

.product-info-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rating span{
	color:rgb(220, 223, 65);
}

.product-name{
	color: #000;
	display: block;
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
  padding-top: 10px;
}

.product-price{
	padding-top: 0.6rem;
	padding-right: 0.6rem;
	display: inline-block;
}

.product-price:first-of-type{
	text-decoration: line-through;
	color: #ccc;
}

.product-img img{
	transition: transform 0.6s ease;
}

.product:hover .product-img img{
	transform: scale(1.1);
}

.product:hover .product-img{
	background: #ccc;
}

.product:hover .product-btns{
	opacity: 1;
}

.off-info .sm-title{
	background: #6d6b6b;
	color:#fff;
	display: inline-block;
	padding: 0.5rem;
	position: absolute;
	top:0;
	left: 0;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	z-index: 0;
	letter-spacing: 3px;
	cursor: pointer;
}

/* reponsive mobile */
@media (max-width:400px) {
	.product-items{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		width: 365px;
		padding: 0px 26px;
	}	
	.product-banner{
		margin-left: -30px;
	}
	.product-content{
		background: #fff;
	}
	.img-pbanner{
		width: 275px;
		height: 80px;
	}
	.search{
		width: 200px;
		height: 70px;
	}
	.search-field{
		height: 30px;
		width: 200px;
	}
	.search-item{
		height: 30px;
		width: 70px;
		float: right;
		
	}
	.form-box{
		margin-left: 152px;
	}

}

@media (min-width:500px) and (max-width:739px){
	.product-items{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}	

	.product{
		margin-right: 1rem;
		margin-left: 1rem;
	}
}

@media (min-width:740px) and (max-width:1199px){
	.product-items{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
		max-width: 700px;
		padding: 20px 85px;
	}

	.product-banner{
		padding: 20px 0px;
	}

	.search{
		margin-right: 185px;
	}

}


@media (min-width:1200px) {
	.product-items{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}	

	.product{
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.products .text-light{
		width: 50%;
	}
}

/* Dành cho điện thoại
@media all and (min-width: 320px) {...<span style="line-height: 1.5;">}</span>
 
Dành cho máy tính bảng chiều dọc
@media all and (min-width: 600px) {...}
 
Dành cho máy tính bảng chiều ngang
@media all and (min-width: 1024px) {...}
 
Dành cho màn hình desktop
@media all and (min-width: 1280px) {...} */



/* productDetail */
/* .card{
	display: flex;
	position: relative;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	margin-top: 50px;
} */
.card-wrapper{
    max-width: 1500px;
    margin: 0 auto;
}
.product-imgs img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
	width: 250px;
}
.img-showcase img:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.products-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #ccc;
    text-decoration: line-through;
}
.new-price span{
    color: #000;
	font-weight: 600;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 1rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    /* background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px; */
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #363434;
	color: #fff;
}
.purchase-info .btn:last-of-type{
    background: #fff;
	color: #000;
}
.purchase-info .btn:hover{
    background: #6d6b6b;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

.product-related{
	text-transform: uppercase;
	padding: 20px;
    margin-top: -80px;
}

@media screen and (min-width: 992px){
    .card{
        grid-template-columns: repeat(2, 1fr);
        margin-top: -120px;
		display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-wrapper{
		margin-top: 40px;
        height: 100vh;
        
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .products-content{
        padding-top: 0;
    }
}