.slider{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slide{
    position: relative;
    border: none;
    min-width: 100%;
    height: 80vh;
    transition: 0.5s;
    overflow: hidden;

}

#goLeft{
    position:absolute;
    top: 50%;
    left:0;
    transform: translateY(-50%);
    width: 5%;
    height: 80%;
    background: none;
    outline: none; 
    border: none;   
}
#goRight{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    height: 80%;
    right: 0;
    background: none;
    outline: none;
    border: none; 
}
